ENV=dev
PORT=8081
GIN_MODE=debug

# Database (Postgres)
# If running with docker-compose, these values will be used to create the DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password
DB_NAME=expensedb
